body {
  width: 100%;
  height: 100%;
  background-image:url('../images/background_casting.png');
  line-height: 1.5;
  overflow-x: hidden;
}


/*
HEADER !
*/

.header{
  position: relative;
  color:white;
  font-size: 2.5rem;
}

.arrow{
  color:white;
  font-size: 1.5rem;
  width: 201px;
}

.arrowImg {
  width: 50px;
}

.leftArrowImg{
  position: absolute;
  left: 1%;
  top: 5%;
}

.synopsisTitle {
  position: absolute;
  left: 6%;
  top: 7%;
}

.mainTitle, .title {
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-decoration: none;
  text-align: center;
}

.teaserTitle {
  position: absolute;
  right: 7%;
  top: 7%;
}

.rightArrowImg{
  position: absolute;
  right: 2%;
  top: 5%;
}

.header{
  position: relative;
  color:white;
  font-size: 2.5rem;
}

.header p{
  margin: 0px;
}

.title:hover{
  color:#950606;
}


/*
MAIN !
*/

/*
CARDS ANIMATION AND ZOOM TO SEE INFORMATIONS
*/


.container h2 {
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.casting {
  margin: 0 auto 40px;
  position: relative;
}

.castingCard {
  position: absolute;
  transform-origin: center 700px;
  perspective: 800px;
}

.castingCard .castingCardImg
{
  width: 90%;
  height: 85%;
  border-radius: 10px;
  box-shadow: 1px 3px 0px rgba(0,0,0, 0.5);
  transition: transform 1s;
}

.castingCard:hover .castingCardImg
{
  transform: rotateY(360deg);
}

.castingCard:nth-child(1) {
  left: 5%;
  transform: rotate(5deg);
}

.castingCard:nth-child(2) {
  left: 30%;
  transform: rotate(-3deg);
}

.castingCard:nth-child(3) {
  left: 48%;
  transform: rotate(5deg);
}

.castingCard:nth-child(4) {
  left: 10%;
  top : 320px;
  transform: rotate(-4deg);
}

.castingCard:nth-child(5) {
  left: 25%;
  top : 320px;
  transform: rotate(5deg);
}

.castingCard:nth-child(6) {
  left: 52%;
  top: 320px;
  transform: rotate(-2deg);
}

.zoomCard {
  position: absolute;
  border-radius: 10px;
  box-shadow: 1px 3px 0px rgba(0,0,0, 0.5);
  top: 20%;
  left: 70%;
}


.zoomedCard1A{
   width: 300px;
   height: 450px;
}

.zoomedCard2A{
  width: 300px;
  height: 450px;
}

.zoomedCard3A{
  width: 300px;
  height: 450px;
}

.zoomedCard4A{
  width: 300px;
  height: 450px;
}

.zoomedCard5A{
  width: 300px;
  height: 450px;
}

.zoomedCard6A{
  width: 300px;
  height: 450px;
}

.zoomCard1 {
  background: url('../images/final_joaquin_phoenix.png');
}

.zoomCard2 {
  background: url('../images/final_robert_deniro.png')
}

.zoomCard3 {
  background: url('../images/final_shea_whigham.png')
}

.zoomCard4 {
  background: url('../images/final_frances_conroy.png')
}

.zoomCard5 {
  background: url('../images/final_zazie_beetze.png')
}

.zoomCard6 {
  background: url('../images/final_brett_cullen.png')
}

/*
FOOTER !
*/


.legalContent{
  left: 0;
  top: 90%;
  position: absolute;
  width: 100%;
  height: 10%;
  background: rgba(10,10,10,0.7);
  transition: 1s;
  display: none;
  color: white;
  text-align: center;
  font-family: "Futura", sans-serif;
  font-size: 1.1rem;
}

.legalPart {
  right: 2%;
  bottom: 2%;
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.2rem;
  color: white;
}

.isOpen{
  display: block;
}
