body {
  background-image: url("../images/rain_background.jpg");
  margin:0;
  height: 4000px;
  background-size: 100% auto;
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
}

.firstPic{
  position: fixed;
  left: 17%;
  top: 6%;
  height: auto;
  width: 63%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.legalContent {
  top: 80%;
}

.legalContent{
  left: 0;
  top: 90%;
  position: absolute;
  width: 100%;
  height: 10%;
  background: rgba(10,10,10,0.7);
  transition: 1s;
  display: none;
  color: white;
  text-align: center;
  font-family: "Futura", sans-serif;
}

.legalPart {
  right: 2%;
  bottom: 2%;
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.2rem;
  color: white;
}

.isOpen{
  display: block;
}

.jokerApparition {
  position: fixed;
  left: 14%;
  top: 6%;
  height: 50%;
  width: auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.jokerApparitionImg {
  position: fixed;
  left: 3%;
  top: 10%;
  height: auto;
  width: 95%;
  opacity: 0,8;
  margin-left:auto;
  margin-right:auto;
}
