body {
  margin:0;
  height: 4000px;
  background-size: 100% auto;
  font-family: 'Anton', sans-serif;
  font-size: 2.5rem;
}

.firstPic{
  position: fixed;
  left: 17%;
  top: 6%;
  height: auto;
  width: 63%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

a:visited{
  color: white;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: white;
}

.menu{
  position: absolute;
  margin-left: 85%;
  position: fixed;
}

menu-deroulant#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
    text-align: center;
}
#menu-deroulant li {
    display: inline-block;
}
#menu-deroulant ul li {

    display: inherit;
}
#menu-deroulant a {
  width: 25%;
  text-decoration: none;
  display: block;
  padding:8px 32px;

}

#menu-deroulant ul {
  width: 100%;
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
    font-size: 1.4rem;
}
#menu-deroulant li:hover ul {
    left: auto;
}
#menu-deroulant ul li{
  background-color: #257e78;
  color: #fff;
}
#menu-deroulant ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu-deroulant li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#menu-deroulant ul li{
  display:inherit;
  border-radius:0;
}

#menu-deroulant ul li:hover{
border-radius:0;
background-color: #65c3bc
}

#menu-deroulant li:hover li a{
color:#fff;
text-transform:inherit;
}

#menu-deroulant li:not(:first-child):hover a, #menu-deroulant li li:not(:first-child):hover a{
color:#fff;
}

a:hover{
  color: #950606;
}

.back{
  margin:0;
  background-size: 100% auto;
  height: 100vh;
}

.bg1{
  background-image: url("../images/back1.jpg");
}

.bg2{
  background-image: url("../images/back2.jpg");
}

.bg3{
  background-image: url("../images/back3.jpg");
}

.bg4{
  background-image: url("../images/back4.jpg");
}

.bg5{
  background-image: url("../images/back5.jpg");
}

.bg6{
  background-image: url("../images/back6.jpg");
}

.legalContent {
  top: 80%;
}

.legalContent{
  left: 0;
  top: 90%;
  position: absolute;
  width: 100%;
  height: 10%;
  background: rgba(10,10,10,0.7);
  transition: 1s;
  display: none;
  color: white;
  text-align: center;
  font-family: "Futura", sans-serif;
  font-size: 1.1rem;
}

.legalPart {
  right: 2%;
  bottom: 2%;
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.2rem;
  color: white;
}

.isOpen{
  display: block;
}

.jokerApparition {
  position: fixed;
  left: 14%;
  top: 6%;
  height: 50%;
  width: auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.jokerApparitionImg {
  position: fixed;
  left: 3%;
  top: 10%;
  height: auto;
  width: 95%;
  opacity: 0,8;
  margin-left:auto;
  margin-right:auto;
}
