body {
  background-image: url("../images/background_homepage.png");
  margin:0;
  max-width:100%;
  max-height:100%;
  height: auto;
  background-size: 100% auto;
  display: flex;
  font-family: 'Anton', sans-serif;
  font-size: 21px;
  overflow-x: hidden;
}

.container{
  margin: 0 auto;
  text-align: center;
  position: relative;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.title{
  color: #950606;
}

.title h1{
  font-size: 135px;

}

.title h3{
  text-transform: uppercase;
  margin-top: -115px;
  font-size: 35px;
  margin-bottom: 160px;
}


.white a{
  color: #FFF;
}

.access{
  color: #FFF;
  font-size: 30px;
}

a:hover{
  color: #950606;
}

.experience a{
  background-color: #1E1D1D;
  padding: 8px 50px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 32px;
}

.menu{
  position: absolute;
  top: 5px;
  right: -650px;
}

menu-deroulant#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
    text-align: center;
}
#menu-deroulant li {
    display: inline-block;
}
#menu-deroulant ul li {

    display: inherit;
}
#menu-deroulant a {
  width: 130px;
  text-decoration: none;
  display: block;
  padding:8px 32px;

}

#menu-deroulant ul {
  width: 100%;
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
    left: auto;
}
#menu-deroulant ul li{
  background-color: #257e78;
  color: #fff;
}
#, #menu-deroulant ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu-deroulant li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#menu-deroulant ul li{
  display:inherit;
  border-radius:0;
}

#menu-deroulant ul li:hover{
border-radius:0;
background-color: #65c3bc
}

#menu-deroulant li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-deroulant li:not(:first-child):hover a, #menu-deroulant li li:not(:first-child):hover a{
color:#fff;
}
