body{
  margin: 0 auto;
  padding:0;
  width: 100%;
  height: 100%;
  font-family: "Futura", sans-serif;
  overflow-y: hidden;
}


img.fondRideau{
  width: 100%;
  z-index: 0;
}



#joker{
  width: auto;
  height: 80%;
  margin-left: 3%;
  margin-top: -6%;
  transition-property: transform;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

#joker:hover{
  transform: translate(50px);
}


.synopsis{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 1%;
  margin-top: -3%;
}

.text{
  display: flex;
  width: 600px;
  height: 690px;
  margin-right: 5%;
  background-color: rgba(0, 35, 27, 0.8);
  border-radius: 5% 5% 0% 0%;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}

.text:hover{
  background-color: rgba(0, 0, 0, 0.7);
}

.titleAndText{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

p{
  color: #d7d7d7;
  font-size: 24px;
  margin: auto;
  padding-left: 13%;
  padding-right: 13%;
  padding-bottom: 13%;
}

h2{
  font-family: 'Anton', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #FCFFA2;
}


.legalContent {
  top: 80%;
}

.legalContent{
  left: 0;
  top: 90%;
  position: absolute;
  width: 100%;
  height: 10%;
  background: rgba(10,10,10,0.7);
  transition: 1s;
  display: none;
  color: white;
  text-align: center;
  font-family: "Futura", sans-serif;
  font-size: 1.1rem;
}

.schoolProjetLaw{
  margin-top: 1%;
}

.legalPart {
  right: 2%;
  bottom: 2%;
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.2rem;
  color: white;
}

.isOpen{
  display: block;
}

.flecheg{
  height: 4rem;
  width: 4rem;
}

.fleched{
  height: 4rem;
  width: 4rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
  font-size: 2.5rem;
  z-index: 5;
  margin-top: -79%;
}

.header p{
  padding-top: 14%;
  margin: 0;
  font-size: 120%;
  color: #FCFFA2;
}


.casting{
  color:white;
  font-size: 1.5rem;
}

.header .left, .header .right{
  display: flex;
}
.fleche{
  display: flex;
  color:white;
  font-size: 1.5rem;
  width: 201px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.fleche img{
  width: 70px;
}

.fleche a:hover{
  color:#950606;
}

a:visited{
  color: white;
}
