body{
  margin: 0px;
  padding: 0px;
  font-family: "Permanent Market";
  font-size: 16px;
  color: #444;
  background-image: url('../images/murdefond.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
}
.bandeannonce{
  color : white;
  font-style: bold;
  font-size: 2rem;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  position : absolute;
  font-size: 40px;
  top: -340px;
  left: 155px;
}
.videobandeannonce{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}
.videobandeannonce section{
  position: relative;
}
.container{
  position: relative;
}
.fleche{
  display: flex;
  color:white;
  font-size: 1.5rem;
  width: 201px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.fleche img{
  width: 70px;
}

.punchline{
  position: relative;
  top: 60px;
  color: #9D3636;
  text-align: center;
  font-size: 30px;
  height: 0px;
  text-shadow: 8px 8px 0px #FAE898;
}

.videoiframe:before {
  content: "";
  display: block;
  position: absolute;
  width: 600px;
  height: 355px;
  background-size: 100% 100%;
  top: -20px;
  left: -20px;
  z-index: -1;
  background-image: url('../images/contour.png')
}

.punchline :nth-child(2) {
  font-size: 60px;
}

.punchline p {
  margin: 0px;
}

.flecheg{
  height: 4rem;
  width: 4rem;
}

.fleched{
  height: 4rem;
  width: 4rem;
  
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
  font-size: 2.5rem;
}

.header p{
  margin: 0px;
}


.casting{
  color:white;
  font-size: 1.5rem;
}

.header .left, .header .right{
  display: flex;
}

