body{
  margin: 0px;
  padding: 0px;
  font-family: "Permanent Market", sans-serif;
  font-size: 16px;
  color: #444;
  background-image: url('../images/murdefond.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
}


/*
HEADER !
*/

.header{
  position: relative;
  color:white;
  font-size: 2.5rem;
}

.arrow{
  color:white;
  font-size: 1.5rem;
  width: 201px;
}

.arrowImg {
  width: 50px;
}

.leftArrowImg{
  position: absolute;
  left: 1%;
  top: 5%;
}

.castingTitle {
  position: absolute;
  left: 6%;
  top: 7%;
}

.mainTitle, .title {
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-decoration: none;
  text-align: center;
}

.synopsisTitle {
  position: absolute;
  right: 7%;
  top: 7%;
}

.rightArrowImg{
  position: absolute;
  right: 2%;
  top: 5%;
}

.header{
  position: relative;
  color:white;
  font-size: 2.5rem;
}

.header p{
  margin: 0px;
}

.title:hover{
  color:#950606;
}

/*
MAIN !
*/

.bandeannonce{
  color : white;
  font-style: bold;
  font-size: 2rem;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  position : absolute;
  font-size: 40px;
}
.videobandeannonce{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  margin-left: 4%;
  margin-top: 2%;
}
.videobandeannonce .section{
  position: relative;
}

.iframe{
  border: 0;
}

.container{
  position: relative;
}
.fleche{
  display: flex;
  color:white;
  font-size: 1.5rem;
  width: 201px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.fleche img{
  width: 70px;
}

.punchline{
  position: relative;
  top: 60px;
  color: #9D3636;
  text-align: center;
  font-size: 30px;
  height: 0px;
  text-shadow: 8px 8px 0px #FAE898;
}


.punchline :nth-child(2) {
  font-size: 60px;
}

.punchline p {
  margin: 0px;
}

.flecheg{
  height: 4rem;
  width: 4rem;
}

.fleched{
  height: 4rem;
  width: 4rem;

}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
  font-size: 2.5rem;
}

.header p{
  margin: 0px;
}


.casting{
  color:white;
  font-size: 1.5rem;
}

.header .left, .header .right{
  display: flex;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color:#950606;
}

a:visited{
  color: white;
}

.legalContent {
  top: 80%;
}

.legalContent{
  left: 0;
  top: 90%;
  position: absolute;
  width: 100%;
  height: 10%;
  background: rgba(10,10,10,0.7);
  transition: 1s;
  display: none;
  color: white;
  text-align: center;
  font-family: "Futura", sans-serif;
  font-size: 1.1rem;
}

.schoolProjetLaw{
  margin-top: 1%;
}

.legalPart {
  right: 2%;
  bottom: 2%;
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.2rem;
  color: white;
}

.isOpen{
  display: block;
}
