body{
  margin: 0px;
  padding: 0px;
  font-family: "Anton";
  font-size: 16px;
  color: #444;
  background-image: url('../images/murdefond.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
}
 .bandeannonce{
  color : #FAE898;
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position : absolute;
  font-size: 40px;
  top: -300px;
  left: -300px;
}
.videobandeannonce{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
min-height: 100vh;
}
.videobandeannonce .section{
  position: relative;
}

.iframe{
  border: 0;
}

.container{
  position: relative;
}

.punchline{
  position: relative;
  top: 60px;
  color: #9D3636;
  text-align: center;
  font-size: 30px;
  height: 0px;
  text-shadow: 8px 8px 0px #FAE898;
}

.videobandeannonce:before {
  content: "";
  display: block;
  position: absolute;
  width: 600px;
  height: 355px;
  background-size: 100% 100%;
  top: 275px;
  z-index: -1;
  background-image: url('../images/contour.png')
}

.punchline :nth-child(2) {
  font-size: 60px;
}
